.vote-badge {
    position: fixed;
    width: 250px;
    right: 20px; /* Adjust as needed for spacing from the right edge */
    top: 85%;
    transform: translateY(-50%); /* Center the badge vertically */
}